[Unit]
Description=prometheus-backfill-aws-athena
After=network.target

[Service]
User=nobody
Group=nogroup
Type=simple
Restart=no
EnvironmentFile=/etc/default/prometheus-backfill-aws-athena
ExecStart=/usr/local/bin/prometheus-backfill-aws-athena $ARGS
TimeoutStopSec=20s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
